- var  obj=Example
- each val, key in obj
  table(border='1', align="center")
        tr
            td(width='200', align="center")
                h1#{key}
            td(width='200', align="center")
                h1#{val}